@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.page-wrapper {
  font-family: 'Poppins', sans-serif;
  background-color: #1b2636;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  color: #161616;
  text-align: center;
}

h1 {
  font-size: calc(10px + 4vmin);
}

p {
  font-size: calc(10px + 1vmin);
}

div {
  text-align: center;
}

/* .center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.form-section {
  padding: 30px 60px;
  width: 50vh;
  background-color: rgb(68, 68, 68);
  color: white;
  display: inline-block;
}

.form-component {
  padding: 10px 0;
  display: block;
}

#bar-button {
  border-radius: 8px 0 0 8px;
}

#line-button {
  border-radius: 0 8px 8px 0;
}

.button {
  padding: 12px;
  border-style: outset;
  background-color: rgb(58, 137, 173);
  color: white;
}

svg.graph {
  height: 500px;
  width: 800px;
}

svg.graph .grid {
stroke: white;
stroke-dasharray: 1 2;
stroke-width: 1;
}

svg.graph .points {
stroke: white;
stroke-width: 3;
}
svg.graph .first_set {
fill: #00554d;
}

svg.graph .surfaces {
fill-opacity: 0.5;
}

svg.graph .grid.double {
stroke-opacity: 0.4;
}

svg.graph .labels {
font-family: Arial;
font-size: 14px;
kerning: 1;
}

svg.graph .labels.x-labels {
text-anchor: middle;
}

svg.graph .labels.y-labels {
text-anchor: end;
}