@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*-----------------------------
* General
-----------------------------*/
.page-wrapper {
  font-family: 'Poppins', sans-serif;
  background-color: #425e88;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  color: #161616;
  text-align: center;
}

h1 {
  font-size: calc(10px + 4vmin);
}

p {
  font-size: calc(10px + 1vmin);
}

div {
  text-align: center;
}

/*-----------------------------
* Form
-----------------------------*/
.form-section {
  padding: 30px 60px;
  width: 50vh;
  background-color: rgb(68, 68, 68);
  color: white;
  display: inline-block;
}

.form-component {
  padding: 10px 0;
  display: block;
}

#bar-button {
  border-radius: 8px 0 0 8px;
}

#line-button {
  border-radius: 0 8px 8px 0;
}

.button {
  padding: 12px;
  border-style: outset;
  background-color: rgb(58, 137, 173);
  color: white;
}

/*-----------------------------
* SVG Graph
-----------------------------*/
svg.graph {
  color: white;
}

svg.graph .grid {
stroke: white;
stroke-width: 1;
}

svg.graph .grid-lines {
  stroke-linecap: butt;
}

svg.graph .grid-values {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 1 2;
  stroke: white;
}

svg.graph .grid-values .grid-values-circles {
  r: 2;
  stroke: rgb(60, 250, 234);
  fill: rgb(29, 201, 231);
}

svg.graph .grid-values .grid-values-circles:hover {
  r: 4;
  stroke: rgb(179, 49, 49);
  fill: rgb(243, 55, 22);
}

svg.graph .grid-values .grid-values-bars {
  stroke: none;
  fill: rgb(29, 201, 231);
}

svg.graph .grid-values .grid-values-bars:hover {
  stroke: none;
  fill: rgb(20, 150, 173);
}

svg.graph .labels {
  font-family: Arial;
  font-size: 14px;
  kerning: 1;
}

svg.graph .labels.x-labels {
  text-anchor: middle;
}

svg.graph .labels.y-labels {
  text-anchor: end;
}